<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension id="ExportToCypher" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Export to Cypher"/>
        <path value="org.protege.editor.owl.menu.tools/SlotG-A"/>
        <toolTip value="Export ontology to a text file which contains Cypher statements."/>
        <class value="sbuciu.ui.ExportToCypherAction"/>
        <editorKitId value="any"/>
    </extension>
</plugin>
